/*Importar fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap');

:root {
    /*Colores*/
    /*color con opacidad*/
    --color-primario: rgba(75, 88, 66, 0.8);
    --color-secundario: rgba(143, 179, 57, 1);
    --color-terciario: rgba(183, 206, 99, 1);
    --color-cuaternario: rgba(199, 213, 159, 1);
    --color-quintenario: rgba(218, 221, 216, 1);

    /*Fuentes*/
    /*Open Sans 600*/
    font-family: "Open Sans", sans-serif;
    /*Roboto Light 300*/
    font-family: "Roboto", sans-serif;

    /*Tamaños de las cajas incluyendo el padding y el border*/
    box-sizing: border-box;
}

/*Estilos generales*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-quintenario);
}

/*Header*/
header {
    font-family: "Open Sans", sans-serif;
    height: 200px;
    background-color: var(--color-primario);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

header .nombre-empresa {
    max-width: 20%;
    width: 200px;
    color: var(--color-secundario);
    font-size: 1.2em;
}

header .submenu-header {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4.5em;
}

header .logo-empresa img {
    width: 60%;
}

header .submenu-header p {
    color: var(--color-cuaternario);
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0.5em;
}

header .imagen-producto {
    display: inline;
}

header .imagen-producto img {
    width: 100%;
    border-radius: 0.5em;
}

header .botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

header .botones button {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-terciario);
    border: none;
    border-radius: 0.5em;
    padding: 0.2em;
    margin: 0.25em;
    width: 100px;
    transition: all 0.3s ease;
}

header .botones button:hover {
    background-color: var(--color-secundario);
}

/*Navegacion*/
.navbar .menu-horizontal {
    font-family: "Open Sans", sans-serif;
    height: 100px;
    background-color: var(--color-secundario);
    list-style: none;
    padding: 1em;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar span {
    text-decoration: underline;
    color: var(--color-quintenario);
    font-weight: 800;
}

.navbar ul li {
    padding: 10px;
    list-style: none;
    font-size: 1.2em;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-primario);
}

.navbar .submenu {
    display: none;
    position: absolute;
    background-color: var(--color-primario);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
}

.navbar li:hover .submenu {
    display: flex;
    flex-direction: row;
}


.navbar .submenu li a {
    text-decoration: none;
    color: var(--color-quintenario);
    padding: 0.5em;
}


.navbar .submenu li:hover {
    background-color: var(--color-terciario);
    border-radius: 0.5em;
    cursor: pointer;
}

.navbar .submenu li:hover a {
    color: var(--color-primario);
    cursor: pointer;
}


/*no se pide pero me parecio util para facilitar la navegacion*/
nav ul li a:hover {
    color: var(--color-quintenario);
}

/*Migas de pan*/
.migas-de-pan {
    padding: 0.8em 1em;
    border: 1px solid hsl(0deg 0% 90%);
    border-radius: 4px;
    background: hsl(300deg 14% 97%);
    font-weight: bold;
}

.migas-de-pan a {
    color: var(--color-primario);
    font-weight: bold;
}

.migas-de-pan a:hover {
    color: var(--color-secundario);
}

/*Main*/
main img {
    width: 20em;
    border-radius: 0.5em;
}

/*Footer*/
footer {
    font-family: "Open-Sans", sans-serif;
    background-color: var(--color-primario);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .cookies form {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


footer .cookies form label:hover {
    outline: 2px solid var(--color-secundario);
}

/*No se pide pero me parece interesante conocer el pseudoselector*/
/* footer .cookies form label:has(input[type="checkbox"]:checked) {
    outline: 2px solid var(--color-secundario);
} */

footer .opciones-footer {
    justify-content: space-between;
    align-items: center;
}

footer .opciones-footer ul {
    list-style: square;
    font-size: 1.5em;
}

footer .opciones-footer ul li:hover {
    cursor: pointer;
    list-style-image: linear-gradient(to right, var(--color-secundario), var(--color-terciario));
}

footer .iconos-RRSS {
    color: var(--color-quintenario);
    text-decoration: none;
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.25em;
}

footer .iconos-RRSS img {
    width: 50px;
    border-radius: 1em;
    border: 3px solid var(--color-quintenario);
}

footer .iconos-RRSS img:hover {
    border: 3px solid var(--color-secundario);
    filter: invert(100%);
}

/*Responsive*/
/*Media Queries*/
@media (max-width: 620px) {

    /*Header*/
    header .nombre-empresa {
        font-size: 0.8em;
        margin: 0.5em;
    }

    header .imagen-producto {
        display: none;
    }

    header .botones {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }

    /*Navegacion*/
    nav {
        margin: 0;
        padding: 0;
        padding-top: 1em;
    }

    nav ul {
        padding: 0;
        margin: 0;
        font-size: 0.8em;
    }

    /*Main*/
    main .tarjetas-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Dejo de mostrar los productos a partir del 4*/
    main .tarjetas-productos div:nth-child(n+4) {
        display: none;
    }

    main .tarjetas-productos .producto1 {
        width: 80%;
    }

    main .tabla-productos {
        display: none;
    }

    main .comentarios-clientes {
        display: none;
    }

    main .zona-contenidos-2 {
        font-size: 0.8em;
    }

    main .zona-contenidos-2 h3 {
        text-transform: lowercase;
    }

    main .zona-contenidos-2 .noticia {
        column-count: 1;
        font-size: 1em;
    }

    main .zona-contenidos-2 .noticia p::first-letter {
        font-size: 1em;
        /*quitar capitalize*/
        text-transform: none;
    }

    main .zona-contenidos-2 .imagenes-noticia img:first-child {
        display: none;
    }

    main .zona-contenidos-2 .imagenes-noticia img {
        width: 90%;
    }

    /*Footer*/
    footer .cookies,
    footer .iconos-RRSS {
        display: none;
    }

    footer .opciones-footer ul {
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    footer .opciones-footer ul li {
        width: 100%;
        margin: 1em;
        text-align: center;
        list-style: none !important;
    }

    footer .opciones-footer ul a {
        text-decoration: none;
        color: var(--color-quintenario);
    }

    footer .opciones-footer ul a:hover {
        text-decoration: underline;
    }
}